@font-face {
  font-family: "Inconsolata";
  src: url("https://fonts.gstatic.com/s/inconsolata/v37/QlddNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLyya15IDhunA.woff2") format('woff2');
  font-display: swap;
  font-weight: 200 900;
  font-stretch: 100%;
}


* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inconsolata";
  --outer-bg-dark-1: #302e4a;
  --outer-bg: #413e63;
  --outer-bg-light-1: #4f47a6;
  --outer-bg-light-2: #544ac7;
  --outer-bg-light-3: #928aed;
  --outer-bg-light-4: #bdb8ff;
  --inner-bg: #100f1f;
  --elements-padding: 50px;
  --text: #d9d4d0;
  --hot-pink: #e32092;
  --hot-pink-light-1: #ff6bc1;
  --hot-pink-dark-1: #b01e73;
  color: var(--text);
  font-size: 18px;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  border: unset;
  padding: unset;
  margin: unset;
  background-color: unset;
  cursor: pointer;
  color: unset;
}

body {
  display: flex;
  flex-direction: column;
  padding: 15vh 0;
  background-color: var(--outer-bg);
  align-items: center;
}

body > div {
  width: 100%;
  max-width: 800px;
}

body > div:first-child {
  margin-top: 0;
}

#main {
  background-color: var(--inner-bg);
  padding: var(--elements-padding);
}

#input-div {
  border: 4px solid var(--text);
  padding: 30px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

label {
  font-size: 14px;
}

input {
  display: block;
  font-size: 18px;
  width: 100%;
  padding: 8px;
  border-radius: 0;
  border: 2px solid var(--text);
  margin: 7px 0;
  outline: none;
  background: none;
}

input::placeholder {
  color: #636091;
}

input:focus::placeholder {
  color: var(--inner-bg);
}

.auto-filled {
  background-color: var(--outer-bg);
}

p {
  font-size: 18px;
  margin: 10px 0;
}

h1 {
  margin: 10px 0;
}

/* Button */

#generate-btn {
  background-color: var(--outer-bg-light-1);
  border: 4px solid var(--outer-bg-light-3);
  padding: 10px 0;
  width: 200px;
  text-align: center;
}

#generate-btn:hover {
  background-color: var(--outer-bg-light-2);
  cursor: pointer;
  border-color: var(--outer-bg-light-4);
}

#generate-btn:active {
  background-color: var(--outer-bg-light-1);
}

#generate-btn:disabled {
  cursor: default;
  background-color: transparent !important;
  border-color: var(--outer-bg-light-1) !important;
  color: var(--outer-bg-light-1) !important;
}

#footer {
  padding: var(--elements-padding);
  border-bottom: 2px solid var(--text);
}

h1 {
  font-size: 30px;
}

h2 {
  margin: 10px 0;
}

li {
  margin: 10px 0;
}

.optional-text {
  font-weight: 700;
  float: right;
  font-size: inherit;
}

#buttons-div {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

#buttons-div > * {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 13px;
  user-select: none;
}

#buttons-div > *:hover {
  background-color: var(--outer-bg);
}

#buttons-div > *:active {
  background-color: var(--outer-bg-dark-1);
}

#buttons-div > * > svg {
  height: 30px;
  color: var(--text);
}

#buttons-div > * > span {
  display: flex;
  align-items: center;
  flex: 1;
}

#drag-and-drop-input {
  display: none;
}

#drag-and-drop-zone {
  border: 2px dashed var(--text);
  cursor: pointer;
}

#paste-clipboard-btn {
  border: 2px solid var(--text);
}

/* Button */

#clear-btn {
  border: 2px solid var(--hot-pink);
  padding: 6px;
}

#clear-btn:hover {
  background-color: var(--hot-pink);
  border-color: var(--hot-pink-light-1);
}

#clear-btn:active {
  background-color: var(--hot-pink-dark-1);
  border-color: var(--hot-pink-light-1);
}

#error-box {
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  width: 85%;
  max-width: 600px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--hot-pink-light-1);
  background-color: var(--hot-pink);
  align-items: center;
  padding-left: 12px;

  bottom: -40px;
  opacity: 0;
  transition: bottom 0.1s ease;
}

#error-text {
  overflow: hidden;
  text-wrap: nowrap;
}

#error-box.show {
  opacity: 1;
  bottom: 30px;
}

/* Button */

#error-x-btn {
  aspect-ratio: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

#error-x-btn:hover {
  background: color-mix(in srgb, var(--hot-pink-light-1) 70%, transparent);
}

#error-x-btn:active {
  background-color: var(--hot-pink-light-1);
}

#error-x-svg {
  width: 60%;
}
